%table
  %thead
    %tr
      %td= 'Object'
      %td= 'Method'
      %td= 'Arguments'
      %td= 'Priority'
      %td= 'Return / Exception'
      %td= 'Run time'
      %td= 'Completed at / Failed at'
