%link{:rel => 'stylesheet', :type => 'text/css', :href => 'main.css'}

.container
  %h1 Navvy::Monitor
  
  %a.pending=    "pending: #{@pending_count}"
  %a.completed=  "completed: #{@completed_count}"
  %a.failed=     "failed: #{@failed_count}"

  = yield
