%link{:rel => 'stylesheet', :type => 'text/css', :href => 'main.css'}

.container
  %h1 Navvy::Monitor
  
  .quicklinks
    %a.pending{:href => 'pending'}=     "pending: #{Navvy::Job.count(:pending)}"
    %a.completed{:href => 'completed'}= "completed: #{Navvy::Job.count(:completed)}"
    %a.failed{:href => 'failed'}=       "failed: #{Navvy::Job.count(:failed)}"

  = yield
