%link{:rel => 'stylesheet', :type => 'text/css', :href => 'main.css'}

.container
  %h1 Navvy::Monitor
  
  .quicklinks
    %a.pending{:href => 'pending'}=     "pending: #{@pending_count}"
    %a.completed{:href => 'completed'}= "completed: #{@completed_count}"
    %a.failed{:href => 'failed'}=       "failed: #{@failed_count}"

  = yield
