%link{:rel => 'stylesheet', :type => 'text/css', :href => 'main.css'}

.container
  %h1 Navvy::Monitor
  
  .quicklinks
    %a.pending{:href => 'pending'}=     "pending: #{Navvy::Job.pending_count}"
    %a.completed{:href => 'completed'}= "completed: #{Navvy::Job.completed_count}"
    %a.failed{:href => 'failed'}=       "failed: #{Navvy::Job.failed_count}"

  = yield
